## Variables

Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

Video Outline:

Introduction to Variables
Declaring and Assigning Variables
Naming Conventions
Understanding Variable Types
Type Checking and Conversion
Dynamic Typing
Practical Examples and Common Errors

In [ ]:
a=100

In [1]:
## Declaring And Assigning Variables

age=32
height=6.1
name="Krish"
is_student=True

## printing the variables

print("age :",age)
print("Height:",height)
print("Name:",name)

age : 32
Height: 6.1
Name: Krish

In [2]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name="KRish"
last_name="Naik"

In [3]:
# Invalid variable names
#2age=30
#first-name="Krish"
##@name="Krish"

In [4]:
## case sensitivity
name="Krish"
Name="Naik"

name==Name

False

In [6]:
## Understnading Variable types
## Python is dynamically typed, i.e. type of a variable is determined at runtime
age=25 #int
height=6.1 #float
name="KRish" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [7]:
## Type Checking and Conversion

type(height)

float

In [8]:
age=25
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [9]:
age='25'
print(type(int(age)))

<class 'int'>

In [10]:
name="Krish"
int(name)

ValueError: invalid literal for int() with base 10: 'Krish'

In [11]:
height=5.11
type(height)

float

In [13]:
int(height)

5

In [12]:
float(int(height))

5.0

In [14]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [17]:
## input

age=input("What is the age")
print(age,type(age))

252 <class 'str'>

In [16]:
## input

age=int(input("What is the age"))
print(age,type(age))

25 <class 'int'>

In [18]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 8.0
Difference: -4.0
Product: 12.0
Quotient: 0.3333333333333333